body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.homepage-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.homepage-header>button{
    background-image: linear-gradient( 120deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%) );
    border: none;
    border-radius: 24px;
    padding: 12px 28px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.header-menu > a {
    color: hsl(233,8%,62%);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 20px;
}

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 90vh;
    margin-top: 50px;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: space-between;
}

.hero-text-container>button{
    background-image: linear-gradient( 120deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%) );
    border: none;
    border-radius: 24px;
    padding: 12px 28px;
    color: white;
    font-weight: 400;
    cursor: pointer;  
}

.hero-text-container>h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 0px;
    color: hsl(233, 26%, 24%);}

.hero-text-container>p{
    color: hsl(233, 8%, 62%);
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-img-container{
    background-image: url(C:\Users\Jeremiah\Documents\10_HTML+CSS_Projects--Youtube\Project_One--EasyBank\Completed_without_watching_tutorial_[Learning-Practice]\images\bg-intro-desktop.svg);
    background-size: cover;
    background-position: bottom;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding-top: 20px;

}

.hero-img-container>img{
    width: 500px;
}

.why-us{
background-color: hsl(220, 16%, 96%);
}

.why-us-text{
   margin-left: 100px;
   margin-bottom: 100px;
   padding-top: 10px;
}


.why-us-text>h1{
    padding-top: 20px;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0px;
    color: hsl(233, 26%, 24%);
}
.why-us-text>p{
    color: hsl(233, 8%, 62%);
    margin-bottom: 15px;
    font-weight: 700;
}

.features{
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10vh;
}

.feature-items>h1{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
    color: hsl(233, 26%, 24%);
}

.feature-items>p{
    color: hsl(233, 8%, 62%);
    margin-bottom: 15px;
    font-weight: 700;
}

.blog-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10vh;
}

.articles{
    height: max-content;
    width: 250px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #fff;
}

.articles > img {
    width: 250px;
    height: 250px;
}

.content {
    padding: 1px;
    line-height: 1.1;
}

.content > p {
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    font-size: 14px;
}

.content > h4 {
    color: hsl(233, 26%, 24%);
}

.blog-section>h1{
    padding-top: 20px;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0px;
    color: hsl(233, 26%, 24%);
}

.articles-container{
display: flex;
align-items: flex-start;
justify-content: space-between;
}


.footer-section{
    background-color: hsl(233, 26%, 24%);
    height: 30vh;
}

.footer-section>.footer-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3rem;
}

.footer-container>button{
    background-image: linear-gradient( 120deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%) );
    border: none;
    border-radius: 24px;
    padding: 12px 28px;
    color: white;
    font-weight: 400;
    cursor: pointer; 
}

.footer-menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-menu-items>a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 15px;
}